body {
  font-family: 'baskerville old face', calligrapher;
  font-size:12pt;
  color:black;
}
div.result p.link{
font-size:135%;
}
#control_panel [type="text"]{
font-size:100%;
color:rgb(170,170,170);
}
#control_panel [type="submit"]{
font-size:100%;
}

div.result p.explanation{
font-size:110%;
}
#autor_signature{
font-family:'arial';
font-size:110%;
color:rgb(142,167,219);
}