html {
  height:100%;
}
/* for IE6*/
* html body {
  height:95%;
}
body{
margin:0px;
padding:0;
min-height:95%;
}


#logo{
margin-top:10px;
margin-bottom:20px;
margin-left:10px;
}


#control_panel {
height:1.0em;
width:400px;
margin-left:52px;

}
#control_panel [type="text"]{
width:315px;
float:left;
border-width:1px;
border-style:dotted;
}

/* for IE6*/
* html #control_panel [type="text"]{
color:green;
width:315px;
margin-left:26px;
float:left;
border-width:1px;
border-style:dotted;
margin:0;
}

#control_panel button{
margin:0;
width:75px;
float:right;
border-width:1px;
border-style:dotted;
}

div.result{
margin-left:100px;
margin-right:100px;

}

div.result p.link{
margin-top:12px;
margin-bottom:0;
}
div.result p.explanation{
margin-top:0;
margin-bottom:10px;
}

#autor_signature{
position:fixed;
bottom:10px;
padding:1px 50px;
margin:0px;
height:1 em;
width:100%;
left:0px;
bottom:0;
}


